<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/styles.css')}}>
</head>
<body>
    <header >
        <nav class="navbar">
            <img src={{url_for('static',filename='css/logo.png')}} alt="Logo" class="logo">
            <div class="button-container">
                <button class="run-code-btn">Run Code</button>
                <button class="upload-code-btn">Upload Code</button>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="container">
          <!-- <span class="line-numbers"></span> -->
          <textarea id="code-editor" class="code-editor" placeholder="Enter your code"></textarea>
        </div>
        <div class="output-container">
          <div class="flex-box1">
            <div class="text">Lexemes</div>
            <div class="lexical-analyzer"></div>
          </div>
          <div class="flex-box2">
            <div class="text">Syntax Tree</div>
            <div class="syntax-analyzer"></div>
          </div>
        </div>
      </main>
    <script src={{url_for('static',filename='script/script.js')}}></script>
</body>
</html>
