<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="{{ url_for('static', filename='css/logo.png') }}" alt="Logo" class="logo">
      <div class="button-container">
        <button class="run-code-btn" onclick=executeCode()>Run Code</button>
        <button class="generate_text_file run-code-btn" onclick=generateFile()>Create File</button>
        <button class="export-table-btn  run-code-btn" onclick=exportTableToFile()>Export Table </button>
        <input class="inputfile" name="file" type="file" id="inputfile" accept=".dtil" onchange="handleFile()">
        <label for="inputfile">Upload File</label>
      </div>
    </nav>
  </header>
  <div class="main">
    <div class="container">
      <!-- <span class="line-numbers"></span> -->
      <div class="text">Code Editor</div>
      <textarea id="code-editor" class="code-editor" placeholder="Enter your code"></textarea>
    </div>
    <div class="output-container">
      <div class="text">Lexemes</div>
      <div class="lexical-analyzer">
          <table class="styled-table"> 
              <thead>
                  <th>Line</th>
                  <th>Tokens</th>
                  <th>Lexemes</th>
              </thead>
              <tbody> 
              </tbody>
          </table>
      </div>
    </div>
    <div class="last-container">
      </hr>
      <div class="text">Syntax Analyzer</div>
      <div class="syntax-container">
        <table class="styled-table syntax-table"> 
          <thead>
              <th>Line</th>
              <th>Code</th>
              <th>Syntax Error</th>
              <th>Description</th>
          </thead>
          <tbody> 
          </tbody>
        </table>
      </div>
      <button class="generate_syntaxText run-code-btn" id="leftmost-derivation-btn" onclick=exportsyntaxTableToFile()>Save Copy</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>